<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
		<link rel="stylesheet" href="./style">
        <title>web-annie</title>
    </head>
    <body>
		<script src="./script"></script>
        <div id="app">
            <button id="btn-add-task" type="button" class="btn btn-success btn-lg btn-block" onclick="javascript:addTask()">+</button>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" v-for="task in tasks">
					<div class="task-progbar" v-if="task.progress" v-bind:style="{ width: task.progress.percentage }"></div>
                	<div class="task-name">
						<p class="task-name-name">{{ task.name }}</p>
						<p class="task-name-address">{{ task.address }}</p>
						<p class="task-name-size" v-if="task.progress">{{ task.progress.current }} / {{ task.progress.total }} ({{ task.progress.speed }})</p>
					</div>
					<div class="task-progress">
						<p class="task-progress-status" v-bind:style="{color: taskStatusColor[task.status]}">{{ taskStatus[task.status] }}</p>
						<p class="task-progress-percentage" v-if="task.progress">{{ task.progress.percentage }}</p>
						<p class="task-progress-time" v-if="task.progress">{{ task.progress.time_left }} 남음</p>
					</div>
					<div class="task-control">
						<button type="button" class="btn btn-primary" v-on:click="alert(task.info)"><i class="fas fa-info"></i></button>
					</div>
                </a>
            </div>
			<div id="toast-wrapper">
				<div v-for="(toast, index) in toasts">
					<div class="alert" v-bind:class="toast.class" v-if="toast.visible" role="alert">
						{{ toast.message }}
					</div>
				</div>
			</div>
        </div>
    </body>
</html>