body {
	margin: 10px;
}

#btn-add-task {
	margin-bottom: 10px;
}

.list-group-item, .list-group {
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;
	display: inline-flex;
	justify-content: flex-end;
	width: 100%;
}

.task-progbar {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #dcf3dd;
    z-index: -1;
}

.task-name {
	margin-right: auto;
}

.task-name p {
	margin-bottom: 0;
}

.task-name-address {
	color: lightslategray;
	font-size: 0.95rem;
}

.task-name-size {
	color: gray;
	font-size: 0.85rem;
}

.task-progress {
	width: 110px;
}

.task-progress p {
	margin-bottom: 0;
	text-align: center;
	font-weight: bold;
}

.task-progress-status {
	font-size: 1.4rem;
}

.task-progress-percentage, .task-progress-time {
	font-size: 0.9rem;
}

.task-control {
}

.task-control button {
	height: 100%;
	width: 2.5rem;
    padding: 6px;
}

@media (max-width: 520px) { 
	#toast-wrapper {
		width: calc(100% - 20px) !important;
	}	
}

#toast-wrapper {
	position: absolute;
	width: 500px;
	bottom: 10px;
	right: 10px;
}

